<div class="row">
    <div class="container">
        <div class="logo" >
         <img src="../../../assets/APLogo.png" id="APlogo">
        </div>      
        <div class="redes">
                    <a href=""><img src="../../../assets/Linked.png" id="linkedin" /></a>
                    <a href=""><img src="../../../assets/Insta.png" id="instagram" /></a>
                    <a href=""><img src="../../../assets/Face.png" id="facebook" /></a>
                    <a href=""><img src="../../../assets/Twit.png" id="twitter" /></a>
                    <a href=""><img src="../../../assets/Git.png" id="github" /></a>
        </div>
    </div>    
        <div class="boton">
            <button type="button" class="btn btn-outline-light">Ingresar</button>
        </div>
</div>

